# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional)
#data/*.csv
#data/*.xlsx

# Large files
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Model files (you may track later if small)
*.pkl
*.joblib